@model IEnumerable<StudentCourseEnrollment.Studentdetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudEmailAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudphNum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudEmailAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudphNum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
