@model IEnumerable<StudentCourseEnrollment.Registeration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studdetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studdetails.StudEmailAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDetails.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RegID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RegID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RegID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
